.footer {
    display: flex;
    flex-direction: column;
    background-color: #3b234a;
    color:#baafc4;
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    width: auto;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10rem;
    list-style: none;
}

.sectionText {
    padding: 1rem;
    min-width: 10rem;
    text-align: center;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 3rem;
}

.title {
    padding-bottom: 0.5rem;
    min-width: 10rem;
}

.sectionLinks {
    min-width: 5rem;
}

.sectionCategory {
    padding: 0  1rem;
}

.copy {
    text-align: center;
}