.section{
    display: flex;
    margin-top: 11rem;
    background-color: #b19abe;
    width: 50rem;
    height: 15rem;
    text-align: center;
    align-items: center;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
}

.title{
    text-align: center;
}